/* OpenType fonts can have up to ten different built-in figure styles. This guide explains what they are, where to find them, and when to use them.*/

@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');

body{
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variant-numeric: oldstyle-nums;
}

h1{
  font-size: 4rem;
  line-height: 3rem;
}

/* Decimal Digits e.g. zero. This is the default setting for numbers */
/* Feature Setting = lnum. */
.regular{
  font-variant-numeric: normal;
}

/* To access stylistic Settings */
.ss01 {
  -moz-font-feature-settings: "ss01";
  -webkit-font-feature-settings: "ss01";
  font-feature-settings: "ss01";
}

.slashed-zero{
  font-variant-numeric: slashed-zero;
}


/* UPPERCASE NUMBERS */
/* Proportional Lining Figures. All numbers have same height. */
/* Glyph Suffix = .lf */
.lining-nums{
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum";
} /* <numeric-figure-values> */

/* Proportional Lining Figures. All numbers have same height. */
/* Glyph Suffix = ? */
.proportional-nums{
  font-variant-numeric: proportional-nums;
  font-feature-settings: "pnum";
} /* <numeric-spacing-values> */
 
/* Tabular Lining Figures. Same height as Uppercase/small caps. Monospaced. */
/* Specially made for tables. Glyph Suffix = .tf */
.tabular-nums{
  font-variant-numeric: tabular-nums;
    font-feature-settings: "tnum";
} /* <numeric-spacing-values> */


/* LOWERCASE NUMBERS */
/* Proportional Oldstyle Figures. Same height as Lowercase. */
/* Glyph Suffix = .osf */
.oldstyle-nums{
  font-variant-numeric: oldstyle-nums;
  font-feature-settings: "onum";
} /* <numeric-figure-values> */

/* Tabular Oldstyle Figures e.g. zero.tosf. All numbers have same height as Lowercase. */
/* Glyph Suffix = .tosf */
/* No support on the web as I know it today */

/* FRACTIONS */

/* Feature Setting = frac. */
/* This feature replaces figures separated by a slash with common (diagonal) fractions. */ 
.fraction {
  font-variant-numeric: diagonal-fractions;
  font-feature-settings: frac;
} /* <numeric-fraction-values> */

/* Alternative Fractions. */
/* Feature Setting = afrc. */
/* Double check font-var */
.altfraction {
    font-feature-settings: afrc;
}

/* Check if font contains fractions */
@supports (font-variant-numeric: diagonal-fractions) {
  .fraction {
      font-feature-settings: frac;
      font-variant-numeric: diagonal-fractions;
  }
}

.stacked-fractions{
  font-variant-numeric: stacked-fractions;
} /* <numeric-fraction-values> */

.oldstyle-nums stacked-fractions{
  font-variant-numeric: oldstyle-nums stacked-fractions;
}

/* MATHEMATICAL NUMERALS */

/* Ordinal markers are small upplifted letters, e.g. 1st. */
.ordinal{
  font-variant-numeric: ordinal;
  font-feature-settings: "ordn";
}

/* Numerator. */
/* Feature Setting = numr. */
/* Double check font-var */
.altfraction {
    font-feature-settings: numr;
}
/* Denominator. */
/* Feature Setting = dnom. */
/* Double check font-var */
.altfraction {
    font-feature-settings: dnom;
}

/* Superscripts, e.g. 2km2. */
/* Feature Setting = sups. */
.superscript { 
    font-variant-position: super;
    font-feature-settings: "sups";
}

/* Superscripts, e.g. 2km2. */
/* Double check font-var */
.superbscript { 
    font-variant-position: sub;
    font-feature-settings: "subs";
}


/* OTHERS GLOBAL VALUES */
/* Global values */
.inherit{
  font-variant-numeric: inherit;
}

.initial{
  font-variant-numeric: initial;
}

.revert{
  font-variant-numeric: revert;
}

.revert-layer{
  font-variant-numeric: revert-layer;
}

.unset{
  font-variant-numeric: unset;
}
