/* OpenType fonts can have up to ten different built-in figure styles. This guide explains what they are, where to find them, and when to use them.*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variant-numeric: oldstyle-nums;
}

h1{
  font-size: 4rem;
  line-height: 3rem;
}

/* Decimal Digits e.g. zero. This is the default setting for numbers */
/* Feature Setting = lnum. */
.regular{
  font-variant-numeric: normal;
}

/* To access stylistic Settings */
.ss01 {
  -moz-font-feature-settings: "ss01";
  -webkit-font-feature-settings: "ss01";
  font-feature-settings: "ss01";
}

.slashed-zero{
  font-variant-numeric: slashed-zero;
}

/* UPPERCASE FIGURES (lnum) */
/* Proportional Lining Figures. */
.lnum{
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum", "pnum";
} /* <numeric-figure-values> */
 
/* Tabular Lining Figures. */
.tnum{
  font-variant-numeric: tabular-nums;
  font-feature-settings: "lnum", "tnum";
} /* <numeric-spacing-values> */


/* LOWERCASE FIGURES (onum) */
/* Proportional Oldstyle Figures.*/
.onum{
  font-variant-numeric: oldstyle-nums;
  font-feature-settings: "onum", "pnum";
} /* <numeric-figure-values> */

/* Tabular Oldstyle Figures */
.tonum{
  font-variant-numeric: oldstyle-nums;
  font-feature-settings: "onum", "tnum";
} /* <numeric-figure-values> */

/* FRACTIONS */

/* Feature Setting = frac. */
/* This feature replaces figures separated by a slash with common (diagonal) fractions. */ 
.fraction {
  font-variant-numeric: diagonal-fractions;
  font-feature-settings: frac;
} /* <numeric-fraction-values> */

/* Alternative Fractions. */
/* Feature Setting = afrc. */
/* Double check font-var */
.afrc {
    font-feature-settings: afrc;
}

/* Check if font contains fractions */
@supports (font-variant-numeric: diagonal-fractions) {
  .fraction {
      font-feature-settings: frac;
      font-variant-numeric: diagonal-fractions;
  }
}

.stacked-fractions{
  font-variant-numeric: stacked-fractions;
} /* <numeric-fraction-values> */

.oldstyle-nums stacked-fractions{
  font-variant-numeric: oldstyle-nums stacked-fractions;
}

/* MATHEMATICAL NUMERALS */

/* Ordinal markers are small upplifted letters, e.g. 1st. */
.ordn{
  font-variant-numeric: ordinal;
  font-feature-settings: "ordn";
}

/* Numerator. Touching Cap-height.*/
/* Feature Setting = numr. */
/* Double check font-var */
.numr {
    font-feature-settings: numr;
}
/* Denominator. On the baseline. */
/* Feature Setting = dnom. */
/* Double check font-var */
.dnom {
    font-feature-settings: dnom;
}

/* Superscripts, e.g. 2km2. */
/* Feature Setting = sups. */
.sups { 
    font-variant-position: super;
    font-feature-settings: "sups";
}

/* Subscripts, e.g. H₂O.  */
.subs { 
    font-variant-position: sub;
    font-feature-settings: "subs";
}

/* Scientific Inferior, e.g. H₂O. */
/* Older version of Subscripts above*/
.sinf { 
    font-feature-settings: "sinf";
}




/* OTHERS GLOBAL VALUES */
/* Global values */
.inherit{
  font-variant-numeric: inherit;
}

.initial{
  font-variant-numeric: initial;
}

.revert{
  font-variant-numeric: revert;
}

.revert-layer{
  font-variant-numeric: revert-layer;
}

.unset{
  font-variant-numeric: unset;
}
